.doneArea{
  position: absolute;
  width:445px;
  height: 302px;

  .doneBar{
    width: 445px;
    height: 44px;
    background: #FFFFFF33 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    font: normal normal bold 24px/36px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left:16px;
    padding-right: 16px;
    vertical-align:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    .dropdown{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #FFFFFF transparent;



    }
  }

}