.input {
  width: 445px;
  margin-bottom: 48px;
  position: relative;
  display: flex;
  justify-content: center;

  .inputArea {
    width: 445px;
    height: 56px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 0px;
    outline: none;
    padding-left: 20px;

    &--plusIcon {
      position: absolute;
      right: 16px;
      top: 18px;

    }

    &--work {
      &::placeholder {
        white-space: nowrap;
        font: italic normal bold 16px/19px Roboto;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: var(--pink);

      }
    }

    &--rest {
      &::placeholder {
        white-space: nowrap;
        font: italic normal bold 16px/19px Roboto;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: var(--blue);
        padding-left: 17px;
      }
    }
  }
}

