.logo{
  position: absolute;
  top:522px;
  width:350px;
  height: 233px;



  .big_circle {
    position: absolute;
    bottom: 0;
    height: 175px;
    width: 350px;
    border-top-left-radius: 350px;
    border-top-right-radius: 350px;
    background-color: #FFEDF7;


    .small_circle{
      position: absolute;
      z-index: 3;
      left: 110px;
      bottom: 117px;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      border-style: solid;
      border-width: 15px;
      border-color: #003164;
      background-color: #FF4384;
      display: flex;
      justify-content: center;
      align-items: center;

      .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 20px 25px;
        border-color: transparent transparent transparent white;
      }

      .small_circle_border {
        position: absolute;
        z-index: 4;
        bottom: -10%;
        right: -10%;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        border-style: solid;
        border-width: 3px;
        border-color: #FF4384;
      }
    }
    .clock {
      position: absolute;
      bottom: 43px;
      left: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 76px;
      color: #FF4384;
      font: normal normal bold 64px/64px Roboto;
      letter-spacing: 0;

    }


    .text{
      position: absolute;
      bottom:24px;
      left: 53px;

      height: 19px;
      font: normal normal bold 16px/24px Roboto;
      letter-spacing: 0;
      color: #003164;
      text-transform: uppercase;
    }
  }



}












