.list{
  position: absolute;
  left:50px;
  top:300px;

  width:445px;
  height: 302px;

  .item{
    text-align: left;
    font: italic normal bold 16px/24px Roboto;
    letter-spacing:0;
    color: green;
    text-decoration : line-through;

    &--li{
      display: flex;
    }

    &--cycleIcon{
      display:flex;
      margin-left:auto;
    }
  }

}