.todoList{
  width:445px;
  height:32px;

  &.onHomePage{
    position: absolute;
    top:562px;
  }


  &--font{
    font: normal normal bold 16px/24px Roboto;
    color: #003164;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 0;
    border-bottom: 1px solid silver;
    margin-bottom: 9px;
    padding-bottom: 9px;
  }
  &--icon {
    cursor: pointer;
    margin-right: 4px;
  }
  &--li{
    display:flex;

    .playIcon{
      margin-left: auto;
    }
  }
  .more{
    text-align: right;
    font: normal normal bold 16px/19px Roboto;
    letter-spacing: 0;
    cursor:pointer;
  }
}
