.pieRing{

  position: absolute;
  top: -10px;
  left: 500px;
  z-index: -1;
  .element1{
    margin-left:50px;
    top:0px;
    left:0px;
    position:relative;
    width:270px;
    height:540px;
    border-radius:0px 270px 270px 0px;
    overflow:hidden;
    //animation:a1 5s infinite linear;
    animation:a1 5s linear 0s infinite;

    &--work--hold {
      border-color:#FF4384;
      animation-play-state: paused;
    }
    &--work--start {
      border-color:#FF4384;
    }
    &--rest--hold {
      border-color:#00A7FF;
      animation-play-state: paused;
    }
    &--rest--start {
      border-color:#00A7FF;
    }
  }
  .element2{
    content:"";
    box-sizing:border-box;
    position:absolute;
    top:0px;
    right: 0px;
    width:540px;
    height:270px;
    background:yellow;
    border-style:solid;
    border-color:#FF4384;
    border-width:15px 15px 0;
    border-radius:270px 270px 0 0;
    transform-origin:270px 270px;
    transform:rotate(-90deg);
    z-index:1;
    animation:a2 5s infinite linear;


    &--work--hold {
      border-color:#FF4384;
      animation-play-state: paused;
    }
    &--work--start {
      border-color:#FF4384;

    }
    &--rest--hold {
      border-color:#00A7FF;
      animation-play-state: paused;
    }

    &--rest--start {
      border-color:#00A7FF;
    }
  }
  .element3{
    box-sizing:border-box;
    position:absolute;
    top:0px;
    right: 0px;
    width:540px;
    height:270px;
    background:yellow;
    border-style:solid;
    border-color:#FF4384;
    border-width:15px 15px 0;
    border-radius:270px 270px 0 0;
    transform-origin:270px 270px;
    transform:rotate(90deg);
    z-index:2;
    animation:a3 5s infinite linear;


    &--work--hold {
      border-color:#FF4384;
      animation-play-state: paused;
    }
    &--work--start {
      border-color:#FF4384;

    }

    &--rest--hold {
      border-color:#00A7FF;
      animation-play-state: paused;
    }

    &--rest--start {
      border-color:#00A7FF;
    }
  }
  @keyframes a1{
    0%{
      margin-left:270px;
      width:270px;
      border-radius:0 270px 270px 0;
    }
    49.99%{
      margin-left:270px;
      width:270px;
      border-radius:0 270px 270px 0;
    }
    50%{
      margin-left:0;
      width:540px;
      border-radius:0;
    }
    100%{
      margin-left:0;
      width:540px;
      border-radius:0;
    }
  }
  @keyframes a2{
    0%{
      transform:rotate(-90deg);
    }
    100%{
      transform:rotate(270deg);
    }
  }
  @keyframes a3{
    0%{
      opacity:0;
    }
    49.99%{
      opacity:0;
    }
    50%{
      opacity:1;
    }
    100%{
      opacity:1;
    }
  }
}




