.doneList{
  .text{
    width:445px;
    font: normal normal bold 16px/24px Roboto;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 0;
    border-bottom: 1px solid #FFFFFF33;
    margin-bottom: 9px;
    padding-bottom: 9px;
    display: flex;
    .font{
      font: normal normal bold 16px/24px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
      opacity: 1;
      margin-left: 4px;
      vertical-align:top;

    }
    .material-icons{
      cursor: pointer;
    }
    .playIcon{
      margin-left: auto;
      display:flex;
    }


  }
}