.collapse {
  &.onTodoListPage {
    position: absolute;
    top: 450px;
  }

  .title {
    .titleBar {
      width: 445px;
      height: 44px;
      background: #FFFFFF33 0% 0% no-repeat padding-box;
      opacity: 1;
      text-align: left;
      font: normal normal bold 24px/36px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
      padding-left: 16px;
      padding-right: 16px;
      vertical-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 19px;

      .dropdownIcon {
        width: 0;
        height: 0;
        border-style: solid;
        cursor: pointer;

        &--dropdown {
          border-width: 0 5px 5px 5px;
          border-color: transparent transparent #FFFFFF transparent;
        }
        &--collapse {
          border-width: 5px 5px 0 5px;
          border-color: #FFFFFF transparent transparent transparent;
        }
      }
    }
  }


  .text{
    width:445px;
    font: normal normal bold 16px/24px Roboto;
    color: white;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 0;
    border-bottom: 1px solid #FFFFFF33;
    margin-bottom: 9px;
    padding-bottom: 9px;
    display: flex;

    .font{
      font: normal normal bold 16px/24px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
      opacity: 1;
      margin-left: 4px;
      vertical-align:top;

    }
    .material-icons{
      cursor: pointer;
    }
    .playIcon{
      margin-left: auto;
      display:flex;
    }


  }












}