.date {
  .ant-picker {
    background-color: transparent;
    border-style: none;
    color: white;
    width: 200px;
    height: 24px;
    input {
      text-align: left;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
      opacity: 1;
      font: normal normal bold 16px/24px Roboto;
    }
    svg {
      color: white
    }

  }
  .ant-picker-suffix {
    display: none;
  }
  .ant-picker-clear {
    display: none;
  }
}