.home{
  width: 1280px;
  height: 800px;
  background: linear-gradient(to right,
          #FFEDF7 0%,
          #FFEDF7 830px,
          #003164 0%,
          #003164 450px);
  position: relative;

  .left-section{
    width: 830px;
    display:flex;
    flex-direction: column;
    .upper{
      height:249px;
    }
    .middle{
      height:48px;
    }
    .lower-middle{
      height:342.5px;
    }
    .lower{
      height:160.5px;
    }
  }
  .right-section{
    width:450px;
    


  }


}